<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/bootstrap.css" />
    <link rel="stylesheet" href="static/about_us.css" />
    <title>Document</title>
  </head>

  <body>
    <%- include('./Partials/nav.ejs') %>

    <div class="section">
      <div class="container">
        <div class="title">
          <h1>PJP BATCH 11</h1>
        </div>
      </div>
      <div class="container-content">
        <div class="table-responsive">
          <table class="content-table" cellpadding="4">
            <thread>
              <tr id="table-heading">
                <th>Name of member</th>
                <th>College</th>
              </tr>
            </thread>
            <tbody>
              <tr>
                <td>Vikash Kumar</td>
                <td>IIIT Allahabad</td>
              </tr>
              <tr>
                <td>Ramji Jaiswal</td>
                <td>IIIT Allahabad</td>
              </tr>
              <tr>
                <td>Kishor Chand</td>
                <td>IIIT Allahabad</td>
              </tr>
              <tr>
                <td>Kalyani</td>
                <td>Cummins</td>
              </tr>
              <tr>
                <td>Nidhish Reddy</td>
                <td>IIIT Allahabad</td>
              </tr>
              <tr>
                <td>Ravi Shyam</td>
                <td>IIIT Allahabad</td>
              </tr>
              <tr>
                <td>Komal</td>
                <td>IIIT Allahabad</td>
              </tr>
              <tr>
                <td>Nidhi Kesarwani</td>
                <td>IIITM Gwalior</td>
              </tr>
              <tr>
                <td>Ekta Bansal</td>
                <td>IIIT Una</td>
              </tr>
              <tr>
                <td>Adnan Ali</td>
                <td>NIT Silchar</td>
              </tr>
              <tr>
                <td>Anurag Kumar</td>
                <td>NIT Silchar</td>
              </tr>
              <tr>
                <td>Gaganjyoti</td>
                <td>NIT Silchar</td>
              </tr>
              <tr>
                <td>Navneet Dhar</td>
                <td>NIT Silchar</td>
              </tr>
              <tr>
                <td>Pratik Kumar Saha</td>
                <td>NIT Silchar</td>
              </tr>
              <tr>
                <td>Rahul Kumar</td>
                <td>NIT Silchar</td>
              </tr>
              <tr>
                <td>Saket Bhatt</td>
                <td>NIT Silchar</td>
              </tr>
              <tr>
                <td>Shubhanshu Singh</td>
                <td>NIT Silchar</td>
              </tr>
              <tr>
                <td>Suvamkar Paul</td>
                <td>NIT Silchar</td>
              </tr>
              <tr>
                <td>Swapnanil</td>
                <td>NIT Silchar</td>
              </tr>
              <tr>
                <td>Vicky Kumar</td>
                <td>NIT Silchar</td>
              </tr>
              <tr>
                <td>Ranjeeta Kumari</td>
                <td>NIT Silchar</td>
              </tr>
              <tr>
                <td>Shivam Tripathi</td>
                <td>NIT Silchar</td>
              </tr>

              <tr>
                <td>Suryansh Raj</td>
                <td>NIT Silchar</td>
              </tr>
              <tr>
                <td>Vipin Yadav</td>
                <td>NIT Sikkim</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <%- include('./Partials/footer.ejs') %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
