<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/bootstrap.css" />
    <link rel="stylesheet" href="../public/css/main.css" />
    <title>Job Portal | Home</title>
  </head>

  <body>
    <div>
      <%- include('./Partials/nav.ejs') %>
      <section>
        <div>
          <div class="">
            <div class="tagline">
              <h2 id="indexh2">For the sake of every individual.</h2>
              <br />
            </div>
            <div class="options">
              <button
                type="button"
                onclick="location.href='companySignIN.html'"
                class="btn view-as-admin btn-lg shadow p-3 mb-5 rounded"
              >
                View As Admin
              </button>
              <button
                type="button"
                onclick="location.href='userSignIn.html'"
                class="btn view-as-user btn-lg shadow p-3 mb-5 rounded"
              >
                View As User
              </button>
            </div>
          </div>
          <img src="../public/images/6671.jpg" class="img-adjust" alt="..." />
          <div class="blank-div"></div>
        </div>
      </section>
      <%- include('./Partials/footer.ejs') %>
    </div>
  </body>
</html>
