.nav-bg-color {
  background-color: rgb(1, 47, 73) !important;
  padding-left: 2%;
  padding-right: 2%;
}
.nav-item a:hover {
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
	background-color: #0f4869;

}
.navbar-brand:hover{
	
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
	background-color: #0f4869;

}

.img-adjust {
  height: 90vh;
  width: 100%;
  position: absolute;
}

.blank-div {
  background-color: rgb(15, 72, 105);
  opacity: 0.65;
  height: 90vh;
}

.footer-css {
  background-color: rgb(1, 47, 73) !important;
  height: 10vh;
  width: 100%;
}
.options {
  position: absolute;
  z-index: 10;
  top: 40%;
  left: 40%;
}

.view-as-admin {
  background-color: rgb(15, 72, 105);
  color: white;
}
.view-as-admin:hover {
  background-color: white;
  color: rgb(1, 47, 73);
  border: 1px solid rgb(1, 47, 73);
}

.view-as-user {
  color: rgb(1, 47, 73);
  border-color: rgb(1, 47, 73);
  background-color: white;
}

.view-as-user:hover {
  background-color: rgb(15, 72, 105);
  border: none;
  color: white;
}

section {
  position: relative;
}

.tagline {
  text-align: center;
  color: white;
  position: absolute;
  z-index: 10;
  top: 30%;
  left: 35%;
}

.btn-outline {
  color: white;
  border-color: white;
}
