html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.nav-bg-color {
    background-color: #0f4869;
    padding-left: 2%;
    padding-right: 2%;
    display: block;
}

body {
    background: linear-gradient(to top, #1a5f87, #bddff2);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
}


/*-- main --*/

.main-SignUPlayouts {
    padding: 1em 0 1em 0;
}

.main-agileinfo {
    width: 35%;
    margin: 3em auto;
    background: rgba(0, 0, 0, 0.18);
    background-size: cover;
}

.agileits-top {
    padding: 50em;
    border-style: groove;
    border-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-color: #cad5db;
    background-color: #1a5f87;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    font-size: 0.9em;
    color: #fff;
    font-weight: 100;
    width: 94.5%;
    display: block;
    border: none;
    padding: 0.8em;
    border: solid 1px rgba(255, 255, 255, 0.37);
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

user_val {
    text-align: left;
    color: yellow;
    font-family: 'Roboto', sans-serif;
}

.text:focus,
.text:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

.text:focus::-webkit-input-placeholder,
.text:valid::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: .9em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    visibility: visible !important;
}

::-webkit-input-placeholder {
    color: #fff;
    font-weight: 100;
}

input[type="submit"] {
    font-size: .9em;
    color: #fff;
    background: #78c7f5;
    /*#76b852*/
    outline: none;
    border: 1px solid grey;
    cursor: pointer;
    padding: 0.9em;
    -webkit-appearance: none;
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
}

input[type="submit"]:hover {
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    background: #8DC26F;
}


/*Dont Have an Acc*/

.agileits-top p {
    font-size: 1em;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
}


/*Create Acc*/

.agileits-top p a {
    color: #fff;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    font-weight: 400;
}

.agileits-top p a:hover {
    color: #76b852;
}


/*-- //main --*/


/*-- checkbox --*/


/*-- responsive-design --*/

@media(max-width:1440px) {
    input[type="text"],
    input[type="email"] {
        width: 95%;
    }
}

@media(max-width:1366px) {
    h1 {
        font-size: 2.6em;
    }
    .agileits-top {
        padding: 2.5em;
    }
    .main-agileinfo {
        margin: 2em auto;
    }
    .main-agileinfo {
        width: 36%;
    }
}

@media(max-width:1280px) {
    .main-agileinfo {
        width: 40%;
    }
}

@media(max-width:1080px) {
    .main-agileinfo {
        width: 46%;
    }
}

@media(max-width:1024px) {
    .main-agileinfo {
        width: 49%;
    }
}

@media(max-width:991px) {
    h1 {
        font-size: 2.4em;
    }
    .main-logINlayouts {
        padding: 2em 0 1em;
    }
}

@media(max-width:900px) {
    .main-agileinfo {
        width: 58%;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 93%;
    }
}

@media(max-width:800px) {
    h1 {
        font-size: 2.2em;
    }
}

@media(max-width:736px) {
    .main-agileinfo {
        width: 62%;
    }
}

@media(max-width:667px) {
    .main-agileinfo {
        width: 67%;
    }
}

@media(max-width:600px) {
    .agileits-top {
        padding: 2.2em;
    }
    input.email,
    input.text.logINlpass {
        margin: 1.5em 0;
    }
    input[type="submit"] {
        margin: 2em 0;
    }
    h1 {
        font-size: 2em;
        letter-spacing: 3px;
    }
}

@media(max-width:568px) {
    .main-agileinfo {
        width: 75%;
    }
    .colorlibcopy-agile p {
        padding: 0 2em;
    }
}

@media(max-width:480px) {
    h1 {
        font-size: 1.8em;
        letter-spacing: 3px;
    }
    .agileits-top {
        padding: 1.8em;
    }
    input[type="text"],
    input[type="email"] {
        width: 91%;
    }
    .agileits-top p {
        font-size: 0.9em;
    }
}

@media(max-width:414px) {
    h1 {
        font-size: 1.8em;
        letter-spacing: 2px;
    }
    .main-agileinfo {
        width: 85%;
        margin: 1.5em auto;
    }
    .text:focus,
    .text:valid {
        background-position: 0 0px;
    }
    .wthree-text ul li,
    .wthree-text ul li:nth-child(2) {
        display: block;
        float: none;
    }
    .wthree-text ul li:nth-child(2) {
        margin-top: 1.5em;
    }
    input[type="submit"] {
        margin: 2em 0 1.5em;
        letter-spacing: 3px;
    }
    input[type="submit"] {
        margin: 2em 0 1.5em;
    }
    .colorlibcopy-agile {
        margin: 1em 0 1em;
    }
}

@media(max-width:384px) {
    .main-agileinfo {
        width: 88%;
    }
    .colorlibcopy-agile p {
        padding: 0 1em;
    }
}

@media(max-width:375px) {
    .agileits-top p {
        letter-spacing: 0px;
    }
}

@media(max-width:320px) {
    .main-logINlayouts {
        padding: 1.5em 0 0;
    }
    .agileits-top {
        padding: 1.2em;
    }
    .colorlibcopy-agile {
        margin: 0 0 1em;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 89.5%;
        font-size: 0.85em;
    }
    h1 {
        font-size: 1.7em;
        letter-spacing: 0px;
    }
    .main-agileinfo {
        width: 92%;
        margin: 1em auto;
    }
    .text:focus,
    .text:valid {
        background-position: 0 0px;
    }
    input[type="submit"] {
        margin: 1.5em 0;
        padding: 0.8em;
        font-size: .85em;
    }
    .colorlibcopy-agile p {
        font-size: .85em;
    }
    .main-logINlayouts {
        padding: 1em 0 0;
    }
}